body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

.navbar {
    background-color: #009dff;
    overflow: hidden;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: fixed; /* Fija la barra de navegación */
    top: 0; /* La coloca en la parte superior */
    left: 0; /* Alinea al lado izquierdo */
    right: 0; /* Alinea al lado derecho */
    z-index: 1000; /* Asegura que esté por encima de otros elementos */
}

.logo {
    height: 50px; /* Ajusta el tamaño del logo según sea necesario */
}

.menu {
    display: flex;
}

.menu a {
    color: #000; /* Cambié el color a negro */
    text-align: center;
    padding: 14px 20px;
    text-decoration: none;
}

.menu a:hover {
    background-color: #575757;
}

h1, h2 {
    text-align: center;
    margin: 20px 0;
    color: #333;
}

h1 {
    font-size: 2.5em;
}

h2 {
    font-size: 1.8em;
}

.container {
    width: 80%;
    margin: 80px auto; /* Ajusta el margen superior según la altura de la barra de navegación */
    padding: 20px;
}


p {
    font-size: 1.1em;
    color: #333;
    margin-bottom: 15px;
    text-align: justify;
}

.btn {
    display: inline-block;
    padding: 10px 20px;
    background-color: #009dff; /* Cambié el color del botón para que coincida con la barra de navegación */
    color: white;
    text-decoration: none;
    border-radius: 5px;
    text-align: center;
    margin-top: 20px;
}

.btn:hover {
    background-color: #575757;
}

.why-us {
    background-color: #ecf0f1;
    padding: 20px;
    margin-top: 20px;
    border-radius: 5px;
}

ul {
    list-style: none;
    padding: 0;
}

ul li {
    background: url('checkmark.png') no-repeat left center;
    padding-left: 40px;
    margin-bottom: 10px;
    font-size: 1.1em;
}

.imagenes-con-texto {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    padding: 20px;
}

.contenedor {
    position: relative;
    width: 200px;
}

.contenedor img {
    width: 100%;
    height: auto;
    display: block;
}

.texto {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    text-align: center;
    padding: 10px;
    font-size: 16px;
}
